[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../riscv-binutils-gdb.git
  branch = develop-openql
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../riscv-gcc.git
  branch = develop-openql
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = git://sourceware.org/git/newlib-cygwin.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../riscv-binutils-gdb.git
  branch = develop-openql
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
