[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../riscv-binutils-gdb.git
	branch = niisato-develop-riscv-binutils
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../riscv-gcc.git
	branch = niisato-develop
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/riscv/riscv-newlib.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../riscv-binutils-gdb.git
	branch = niisato-develop-riscv-gdb
